* {
    font-size: 10px;
}

a {
    font-family: 'Proxima Nova', Georgia, sans-serif !important;
    font-size: 1.8rem;
    color: #231f20;
    font-weight: 400;
    font-style: normal;
}

a:hover {
    text-Decoration: none !important; 
}

.top {
    margin-top: 20px;
}

.container2 li {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 15px;
}

.container2 li b {
    font-size: 15px;
}

h1 {
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 980px) {
    img {
      margin-bottom: 10px;
    }
  }

.navbar {
    margin-top: 5px;
}




